.btn {
  text-decoration: none;
  border-radius: 5px;
  min-width: 170px;
  padding: 20px;
  color: white;
}

.btn-contact {
  background-color: #901c1c;
  border: none;
  cursor: pointer;
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  top: 0;
  right: 0;
  transition: 0.2s;

  &:hover {
    transition: 0.2s;
    background-color: $red-hover;
    color: black;
  }
}

.btn-dropdown {
  @extend .btn;
  border: none;
  margin-left: 10px;
  background-color: $red;
}

.btn-content {
  @extend .btn;
  display: none;
  background-color: #DB8876;
  color: black;
  min-width: auto;
  padding: 10px;
  position: fixed;
  top: 5px;
}