.btn {
  text-decoration: none;
  border-radius: 5px;
  min-width: 170px;
  padding: 20px;
  color: white;
}

.btn-contact {
  background-color: $red;
  border: none;
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  bottom: 165px;
  left: 390px;
}

.btn-dropdown {
  @extend .btn;
  border: none;
  margin-left: 10px;
  background-color: $red;
}

.btn-content {
  @extend .btn;
  display: none;
  background-color: #DB8876;
  color: black;
  min-width: auto;
  padding: 10px;
  position: fixed;
  top: 5px;
}