/* Colors */
$red: #901C1C;
$red-hover: #DB8876;
$orange: #D3573C;
$grey: #757575;
$grey-light: #FAFAFA;

/* BreakPoints */
$breakpoints: (
        xs: 355px,
        sm: 576px,
        md: 767px,
        lg: 992px,
        xl: 1200px
);